openapi: 3.0.3
info:
  title: Interlock Public Qwen
  version: 1.0.0
servers:
  - url: http://provider.h100.siamaidol.com:30332/v1
paths:
  /chat/completions:
    post:
      operationId: complete
      summary: Bounded public or synthetic RCA completion using the fixed Akash Qwen model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: Qwen completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
components:
  schemas:
    CompletionRequest:
      type: object
      additionalProperties: false
      required: [model, messages, stream, max_tokens]
      properties:
        model:
          type: string
          enum: [Qwen/Qwen3.8-27B]
        messages:
          type: array
          minItems: 1
          maxItems: 3
          items:
            type: object
            additionalProperties: false
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant]
              content:
                type: string
                maxLength: 24000
        stream:
          type: boolean
          enum: [false]
        max_tokens:
          type: integer
          minimum: 1
          maximum: 1600
        temperature:
          type: number
          minimum: 0
          maximum: 1
        chat_template_kwargs:
          type: object
          additionalProperties: false
          properties:
            enable_thinking:
              type: boolean
              enum: [false]
    CompletionResponse:
      type: object
      required: [model, choices]
      properties:
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              finish_reason:
                type: string
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
